* {
    // margin: 0;
    // padding: 0;
    text-decoration: none;
    scroll-behavior: none;
}

html, body {
    min-height: 100%;
}

body {
    background-color: whitesmoke;
    background-repeat: none;
}

p {
    margin: 16px auto;
    line-height: 1.5em;
}

/************** NAV *****************/

.nav__item {
    // padding: 4px 10px;
    color: #4B5D68;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;

    &--active {
        font-weight: bold;
    }

    &--button {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
        box-shadow: 0px 5px 5px;
        border-radius: 50px;
    }
}
