* {
  text-decoration: none;
  scroll-behavior: none;
}

html, body {
  min-height: 100%;
}

body {
  background-color: whitesmoke;
  background-repeat: none;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

/************** NAV *****************/
.logo__accent {
  width: 20px;
  height: 20px;
  background-color: #9c69e2;
  border-radius: 20px;
}

.logo__accent--activeTwo {
  height: 35px;
  background-color: #f063b8;
}

.nav__item {
  font-family: Avenir;
  padding: 4px 10px;
  color: #4B5D68;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.nav__item--active {
  font-weight: bold;
}

.nav__item--button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 0px 5px 5px;
          box-shadow: 0px 5px 5px;
  border-radius: 50px;
  color: #212353;
  font-weight: bold;
}

.nav__item a:visited {
  color: #212353;
}

/**************** HEADER *********************/
.header__line {
  width: 645px;
  height: 184px;
  font-family: Helvetica;
  font-size: 80px;
}

.content__one {
  position: absolute;
  font-family: Avenir;
  width: 380px;
  height: 120px;
  left: 240px;
  top: 471px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  color: #4B5D68;
}

.learn__more {
  width: 170px;
  height: 60px;
  background-color: #9c69e2;
  border-radius: 50px;
  font-family: Avenir;
  font-size: 18px;
  color: #ffffff;
}

/******************* DETAILS ******************/
.titles {
  position: absolute;
  width: 1117px;
  height: 560px;
  left: 240px;
  top: 903.18px;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}

.titles__item {
  position: absolute;
  width: 475px;
  height: 100px;
  left: 790px;
  top: 1028.18px;
  font-family: Helvetica;
  font-size: 40px;
  line-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212353;
}

.content__one--activeDetail {
  width: 584px;
  height: 58px;
  left: 507.29px;
  top: 1715px;
  text-align: center;
}

/***************** FEATURES ***********************/
.titles__item--active {
  position: absolute;
  width: 405px;
  height: 52px;
  left: 592.29px;
  top: 1613px;
  font-family: Helvetica;
  font-size: 40px;
  line-height: 52px;
  color: #212353;
}

.content__one--active {
  position: absolute;
  width: 584px;
  height: 58px;
  left: 507.29px;
  top: 1715px;
  line-height: 29px;
  text-align: center;
  color: #4B5D68;
}

.item__title {
  position: absolute;
  left: 500.29px;
  top: 1922px;
  width: 200px;
  height: 50px;
  font-family: Helvetica;
  font-size: 24px;
  line-height: 31px;
  font-style: normal;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212353;
}

.item__title--activeTwo {
  left: 1087.28px;
  top: 1922px;
}

.item__title--activeThree {
  left: 500.29px;
  top: 2330px;
}

.item__title--activeFour {
  left: 1087.28px;
  top: 2330px;
}

.content__one--activeTwo {
  width: 220px;
  height: 160px;
  left: 500.29px;
  top: 1992px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.content__one--activeThree {
  left: 1087.28px;
  top: 1992px;
}

.content__one--activeFour {
  left: 500.29px;
  top: 2400px;
}

.content__one--activeFive {
  left: 1087.28px;
  top: 2400px;
}

.learn__guide {
  position: absolute;
  width: 87px;
  height: 26px;
  left: 500.29px;
  top: 2172px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  color: #212353;
}

.learn__guide--active {
  left: 1087.28px;
  top: 2172px;
}

.learn__guide--activeTwo {
  left: 500.29px;
  top: 2580px;
}

.learn__guide--activeThree {
  left: 1087.28px;
  top: 2580px;
}

.ar {
  position: absolute;
  width: 20px;
  height: 0px;
  left: 607.29px;
  top: 2185px;
  border: 2px solid #9c69e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  position: absolute;
  width: 14px;
  height: 6px;
  left: 627.29px;
  top: 2178px;
  border: 2px solid #9c69e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=style.css.map */