* {
    margin: 0;
    // padding: 0;
    text-decoration: none;
    scroll-behavior: none;
}

html, body {
    position: relative;
    width: 1600px;
    height: 4350px;
    background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}

// body {
//     background-color: whitesmoke;
//     background-repeat: none;
// }

/*********** HEAD ********************/

.headerWrap {
    // position: absolute;
    width: 1248px;
    height: 754px;
    left: 240px;
    top: 47px;
}

/************** NAV *****************/

.logo__accent {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 240px;
    top: 74px;
    background-color: #9c69e2;
    border-radius: 20px;

    &--activeTwo {
        height: 35px;
        left: 269px;
        top: 59px;
        background-color: #f063b8;
    }
}

.nav {
    // position: absolute;
    width: 322px;
    height: 30px;
    left: 410px;
    top: 62px;
}

.nav__item {
    position: absolute;
    width: 322px;
    height: 30px;
    font-family: Avenir;
    left: 410px;
    top: 62px;

    &--active {
        width: 53px;
        height: 30px;
        left: 410px;
        top: 62px;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 26px;
        color: #212353;
    }

    &--activeTwo {
        width: 35px;
        height: 26px;
        left: 503px;
        top: 64px;
        font-weight: 500;
        color: #4B5D68;
    }

    &--activeThree {
        width: 63px;
        height: 26px;
        left: 578px;
        top: 64px;
        font-weight: 500;
        color: #4B5D68;
    }

    &--activeFour {
        width: 51px;
        height: 26px;
        left: 681px;
        top: 64px;
        font-weight: 500;
        color: #4B5D68;
    }

    // &--button {
    //     display: inline-flex;
    //     flex-direction: row;
    //     justify-content: flex-end;
    //     box-shadow: 0px 5px 5px;
    //     border-radius: 50px;
    //     color: #212353;
    //     font-weight: bold;

    // }

    // a:visited {
    //     color: #212353;
    // }
}

.request {
    position: absolute;
    width: 210px;
    height: 60px;
    left: 1150px;
    top: 47px;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;

    &__demo {
        width: 152px;
        height: 26px;
        left: 1179px;
        top: 64px;
        font-family: Avenir;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.005em;
        color: #212353;

        &--active {
            left: 1147px;
            top: 3771px;
        }
    }
}

/**************** HEADER *********************/

// .header {
//     position: absolute;
//     width: 645px;
//     height: 464px;
//     left: 240px;
//     top: 237px;
// }

.header__line {
    position: absolute;
    width: 645px;
    height: 184px;
    left: 240px;
    top: 237px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 88px;
    display: flex;
    align-items: center;
    color: #212353;
}

.content__one {
    position: absolute;
    font-family: Avenir;
    width: 380px;
    height: 120px;
    left: 240px;
    top: 471px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
    color: #4B5D68;
}

.learn__more {
    position: absolute;
    width: 170px;
    height: 60px;
    left: 240px;
    top: 641px;
    background-color: #9c69e2;
    border-radius: 50px;
    font-family: Avenir;
    font-size: 18px;

    &--activeOne {
        width: 96px;
        height: 29px;
        left: 277px;
        top: 657px;
        font-style: normal;
        font-weight: 800;
        line-height: 29px;
        // display: flex;
        // align-items: center;
        // text-align: center;
        color: #ffffff;
    }

    &--activeTwo {
        left: 947px;
        top: 3771px;
        font-style: normal;
        font-weight: 800;
        line-height: 29px;
        color: #ffffff;
    }
}

// .learn__more {
//     position: absolute;
//     width: 96px;
//     height: 277px;
//     top: 657px;
//     font-family: Avenir;
//     font-style: normal;
//     font-weight: 800;
//     font-size: 18px;
//     line-height: 29px;
//     display: flex;
//     align-items: center;
//     text-align: center;
//     color: #ffffff;
// }

.image {
    position: absolute;
    width: 885px;
    height: 468px;
    left: 603px;
    top: 333px;
}

/******************* DETAILS ******************/

.storage {
    position: absolute;
    width: 1117px;
    height: 560px;
    left: 240px;
    top: 903.18px;

    &__back {
        width: 1117px;
        height: 560px;
        left: 240px;
        top: 903.18px;
        background-color: rgba(240, 99, 184, 0.15);
        border-radius: 50px;

            &--activeTitle {
                // position: absolute;
                width: 475px;
                height: 100px;
                left: 790px;
                top: 1028.18px;
                font-family: Helvetica;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 52px;
                // display: flex;
                // align-items: center;
                color: #212353;
            }
    }

    &__imageTwo {
        width: 477px;
        height: 504px;
        left: 251px;
        top: 935px;
    }
}

.content__one_storage__back--activeDetail {
    // position: absolute;
    width: 474px;
    height: 170px;
    left: 790px;
    top: 1168.18px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #4B5D68;
}

/***************** FEATURES ***********************/

// .titles {
//     position: absolute;
//     width: 1137.28px;
//     height: 1026px;
//     left: 220px;
//     top: 1613px;
// }

.item__title {
    position: absolute;
    left: 500.29px;
    top: 1922px;
    width: 200px;
    height: 50px;
    font-family: Helvetica;
    font-size: 24px;
    line-height: 31px;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    color: #212353;

    &--active {
        width: 405px;
        height: 52px;
        left: 592.29px;
        top: 1613px;
        font-weight: bold;
        font-size: 40px;
        line-height: 52px;
    }

    &--activeTwo {
        left: 1087.28px;
        top: 1922px;
    }

    &--activeThree {
        left: 500.29px;
        top: 2330px;
    }

    &--activeFour {
        left: 1087.28px;
        top: 2330px;
    }
}

.content__one {

    &--active {
        position: absolute;
        width: 584px;
        height: 58px;
        left: 507.29px;
        top: 1715px;
        line-height: 29px;
        text-align: center;
        color: #4B5D68;
    }
    
    &--activeTwo {
        width: 220px;
        height: 160px;
        left: 500.29px;
        top: 1992px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
    }

    &--activeThree {
        left: 1087.28px;
        top: 1992px;
    }

    &--activeFour {
        left: 500.29px;
        top: 2400px;
    }

    &--activeFive {
        left: 1087.28px;
        top: 2400px;
    }
}

// .learn__guide {
//     position: absolute;
//     width: 87px;
//     height: 26px;
//     left: 500.29px;
//     top: 2172px;
//     font-family: Avenir;
//     font-style: normal;
//     font-weight: 800;
//     font-size: 16px;
//     line-height: 26px;
//     display: flex;
//     align-items: center;
//     letter-spacing: 0.005em;
//     color: #212353;

//     &--active {
//         left: 1087.28px;
//         top: 2172px;
//     }

//     &--activeTwo {
//         left: 500.29px;
//         top: 2580px;
//     }

//     &--activeThree {
//         left: 1087.28px;
//         top: 2580px;
//     }
// }



.learn__guide {
    position: absolute;
    width: 87px;
    height: 26px;
    left: 500.29px;
    top: 2172px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;

    &--active {
        left: 1087.28px;
        top: 2172px;
    }

    &--activeTwo {
        left: 500.29px;
        top: 2580px;
    }

    &--activeThree {
        left: 1087.28px;
        top: 2580px;
    }
}

    

.ar__line {
    position: absolute;
    width: 20px;
    height: 0px;
    left: 607.29px;
    top: 2185px;
    border: 2px solid #9c69e2;
    box-sizing: border-box;

    &--activeOne {
        left: 1194.28px;
    }

    &--activeTwo {
        top: 2593px;
    }

    &--activeThree {
        left: 1194.28px;
        top: 2592px;
    }

    &--activeFour {
        left: 1308px;
        top: 3801px;
    }
}

.row__tri {
    position: absolute;
    width: 14px;
    height: 6px;
    left: 627.29px;
    top: 2178px;
    border: 2px solid #9c69e2;
    box-sizing: border-box;
    transform: rotate(90deg);

    &--activeOne {
        left: 1214.28px;
    }

    &--activeTwo {
        top: 2586px;
    }

    &--activeThree {
        left: 1214px;
        top: 2586px;
    }

    &--activeFour {
        left: 1328px;
        top: 3794px;
    }
}

/************* TEST ******************/

.test {
    position: absolute;
    width: 1118px;
    height: 709px;
    left: 242px;
    top: 2789px;
    background: #9c69e2;
    border-radius: 50px;

    &__title {
        width: 405px;
        height: 52px;
        left: 335px;
        top: 2898px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 52px;
        display: flex;
        align-items: center;
        color: #ffffff;
    }

    &__slide--activeOne {
        position: absolute;
        width: 1118px;
        height: 709px;
        left: 242px;
        top: 2789px;
    }
}

/***************FOOTER****************/

.line {
    position: absolute;
    height: 2px;
    background: #9c69e2;
    opacity: 0.2;
}

.footer {
    position: absolute;
    width: 1600px;
    height: 613px;
    left: 0px;
    top: 3648px;

    &__head {
        width: 584px;
        height: 101px;
        left: 240px;
        top: 3750px;

        &--activeTitle {
            width: 405px;
            height: 52px;
            left: 240px;
            top: 3750px;
            font-family: Helvetica;
            font-style: normal;
            font-size: 40px;
            line-height: 52px;
            display: flex;
            align-items: center;
            color: #212353;
        }

        &--activeDetail {
            width: 584px;
            height: 29px;
            left: 240px;
            top: 3822px;
            font-family: Avenir;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 29px;
            color: #4B5D68;
        }
    }

    // &__title {
    //     width: 405px;
    //     height: 52px;
    //     left: 240px;
    //     top: 3750px;
    //     font-family: Helvetica;
    //     font-style: normal;
    //     font-size: 40px;
    //     line-height: 52px;
    //     display: flex;
    //     align-items: center;
    //     color: #212353;
    // }
}

.data {
    width: 153px;
    height: 30px;
    left: 309px;
    top: 4004px;
    font-family: Avenir;
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    color: #212353;  
    
    &__address {
        width: 335px;
        height: 65px;
        left: 240px;
        top: 4101px;
        font-weight: 500;
        font-size: 16px;
        line-height: 29px;
        letter-spacing: 0.01em;
    }

    &__info {
        width: 335px;
        height: 60px;
        lefT: 240px;
        top: 4176px;
        font-family: Avenir;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        letter-spacing: 0.01em;
    }
}

